@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Olvidaste tu contraseña?";
}

<link rel="stylesheet" href="~/css/Forgot.css">

<h1 class="mt-4">@ViewData["Title"]</h1>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <h2 class="text-center">Ingresa tu correo para restablecer tu contraseña.</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Cambiar contraseña</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
