@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ProyectARG</title>
  <link rel="icon" type="image/png" href="~/img/Logo.png" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/layout.css">

  <!-- LIBRERIA ICONOS -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
  <header>
    <nav>
      <div class="nav-bar">
        <i class='bx bx-menu sidebarOpen'></i>
        <span class="navLogo"><a class="link-logo" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/Logo.png" class="logo" alt=""> ProyectARG</a></span>

        <div class="d-flex">
          <div class="menu">
            <div class="logo-toggle">
              <span class=""><a href="#" class="link-logo"><img src="~/img/Logo.png" class="logo" alt="">
                  ProyectARG</a></span>
              <i class='bx bx-x siderbarClose'></i>
            </div>
            <ul class="nav-links links-primary">
              @if (SignInManager.IsSignedIn(User))
              {
                var user = await UserManager.GetUserAsync(User);
                if (user != null)
                {
                  // Si el usuario es administrador, solo mostramos la pestaña "Administrar"
                  if (await UserManager.IsInRoleAsync(user, "Administrador"))
                  {
                    <li>
                      <a class="nav-link" asp-area="" asp-controller="Administracion" asp-action="Index">Administrar</a>
                    </li>
                    <!-- Aquí podés agregar más pestañas específicas del administrador en el futuro -->
                  }
                  else
                  {
                    // Si el usuario está logueado pero no es administrador, mostramos las pestañas normales
                    <li>
                      <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                      <a class="nav-link" asp-area="" asp-controller="Inmuebles" asp-action="Index">Publicar</a>
                    </li>
                    <li>
                      <a class="nav-link" asp-area="" asp-controller="MisPublicaciones" asp-action="Index">Mis
                        Publicaciones</a>
                    </li>
                  }
                }
              }
              else
              {
                // Para usuarios no registrados, mostramos las pestañas normales
                <li>
                  <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                  <a class="nav-link" asp-area="" asp-controller="Inmuebles" asp-action="Index">Publicar</a>
                </li>
                <li>
                  <a class="nav-link" asp-area="" asp-controller="MisPublicaciones" asp-action="Index">Mis
                    Publicaciones</a>
                </li>
              }

              <div class="sidebar-perfil">
                <partial name="_LoginPartial" />
              </div>
            </ul>
          </div>
        </div>

        <div class="d-flex">
          <div class="navbar-perfil">
            <partial name="_LoginPartial" />
          </div>
        </div>

        @{
          var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
          var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
        }

        <div class="darkLight-searchBox">
          <div class="dark-light">
            <i class='bx bx-moon moon'></i>
            <i class='bx bx-sun sun'></i>
          </div>

          @if (currentController == "Home" && currentAction == "Index")
          {
            <div class="searchBox">
              <div class="searchToggle">
                <i class='bx bx-x cancel'></i>
                <i class='bx bx-search search'></i>
              </div>
              <div class="search-field">
                <input type="text" id="buscadorPorTitulo" placeholder="Search...">
                <i class='bx bx-search' id="searchButton"></i>
              </div>
            </div>
          }
        </div>
      </div>
    </nav>
  </header>







  @if (currentController == "Inmuebles" && currentAction == "Index")
  {
    <div class="d-flex justify-content-center align-item-center container">
      <main role="main" class=" container">
        <div class="notifications-container" id="alert">
          <div class="success" id="background">
            <div class="flex">
              <div class="flex-shrink-0" id="alert-icon">
              </div>
              <div class="success-prompt-wrap">
                <p class="success-prompt-heading" id="alert-title"></p>
                <div class="success-prompt-prompt">
                  <p id="alert-description"></p>
                </div>
                <div class="success-button-container">
                  <button type="button" class="success-button-main" onclick="hiddenAlert()" id="btn-aceptar">
                    Aceptar
                  </button>
                  <button type="button" class="success-button-secondary" id="btn-cancelar">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        @RenderBody()
      </main>
    </div>
  }
  else
  {
    <div class="d-flex justify-content-center align-item-center">
      <main role="main" class="">
        <div class="notifications-container" id="alert">
          <div class="success" id="background">
            <div class="flex">
              <div class="flex-shrink-0" id="alert-icon">
              </div>
              <div class="success-prompt-wrap">
                <p class="success-prompt-heading" id="alert-title"></p>
                <div class="success-prompt-prompt">
                  <p id="alert-description"></p>
                </div>
                <div class="success-button-container">
                  <button type="button" class="success-button-main" onclick="hiddenAlert()" id="btn-aceptar">
                    Aceptar
                  </button>
                  <button type="button" class="success-button-secondary" id="btn-cancelar">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        @RenderBody()
      </main>
    </div>
  }

  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <span class="logo_name"><img src="~/img/Logo.png" class="logo" alt="">ProyectARG</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class='bx bxl-facebook'></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-whatsapp"></i></a>
          <a href="#"><i class="bx bxl-gmail"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Contacto</li>
          <li>
            <p href="#"><i class="bx bx-map"></i> Maipú 538, Morteros - Cba</p>
          </li>
          <li>
            <p href="#"><i class="bx bx-phone"></i> +54 9 3562 507446</p>
          </li>
          <li>
            <p href="#"><i class="bx bxl-gmail"></i> ProyectARG@gmail.com</p>
          </li>
        </ul>
        <ul class="box">
          <li class="link_name">Servicios</li>
          <li>
            <p href="">ASDF</p>
          </li>
          <li>
            <p href="">Web design</p>
          </li>
          <li>
            <p href="">Logo design</p>
          </li>
          <li>
            <p href="">Banner design</p>
          </li>
        </ul>
        <ul class="box">
          <li class="link_name">Account</li>
          <li>
            <p href="#">Profile</p>
          </li>
          <li>
            <p href="#">My account</p>
          </li>
          <li>
            <p href="#">Prefrences</p>
          </li>
          <li>
            <p href="#">Purchase</p>
          </li>
        </ul>
        <ul class="box">
          <li class="link_name">Courses</li>
          <li>
            <p href="#">HTML & CSS</p>
          </li>
          <li>
            <p href="#">JavaScript</p>
          </li>
          <li>
            <p href="#">Photography</p>
          </li>
          <li>
            <p href="#">Photoshop</p>
          </li>
        </ul>
        @* <ul class="box input-box">
        <li class="link_name">Subscribe</li>
        <li><input type="text" placeholder="Enter your email"></li>
        <li><input type="button" value="Subscribe"></li>
        </ul> *@
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">&copy; 2024 - ProyectARG - <a href="#">ProyectARG</a>Todos los derechos
          reservados</span>
        <span class="policy_terms">
          <a href="#">Privacy policy</a>
          <a href="#">Terms & condition</a>
        </span>
      </div>
    </div>
  </footer>



  <script src="~/js/jspdf/jspdf.min.js"></script>
  <script src="~/js/jspdf/jspdf.debug.js"></script>
  <script src="~/js/jspdf/jspdf.plugin.autotable.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)


</body>

</html>
