<link rel="stylesheet" href="~/css/Perfil.css" />


<h3>Tus publicaciones</h3>

<section>
  <div class="row">
    <div class="col-8">
    <table class="table table-publiucion">
  <thead>
    <tr>
      <th scope="col">titulo</th>
      <th scope="col">Precio</th>
      <th scope="col">Localidad</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td></td>
    </tr>
    <tr>
      <td scope="row">3</td>
      <td colspan="2">Larry the Bird</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-4">
  <div class="contenedor-panel">
    <img src="~/img/LogoConFondo.png" alt="">
    <h3>Titulo</h3>
    <p>Descripción</p>
    <div class="d-flex botonera">
    <button class="btn editar">Editar</button>
    <button class="btn suspender">Suspender</button>
    <button class="btn eliminar">Eliminar</button>
    </div>
  </div>
</div>
</div>
</section>