@{
  ViewData["Title"] = "Provincias";
}
<link rel="stylesheet" href="~/css/Funciones.css">

<div class="row">
  <div class="col-md-4 col-sm-12 contenedor-card-funcion">
    <a href="~/Localidades/Localidades" class="link-card">
      <div class="conteiner-funciones">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Provincias y Localidades</div>
          <div class="notibody">Agregar, editar y eliminar provincias y localidades.</div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 col-sm-12 contenedor-card-funcion">
    <a href="~/Localidades/InformePublicaciones" class="link-card">
      <div class="conteiner-funciones">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Informe</div>
          <div class="notibody">Agregar, editar y eliminar provincias y localidades.</div>
        </div>
      </div>
    </a>
  </div>

</div>
