@{
  ViewData["Title"] = "Provincias";
}
<link rel="stylesheet" href="~/css/Funciones.css">

<div class="row">
  <div class="col-md-4 col-sm-12 contenedor-card-funcion">
    <div class="conteiner-funciones">
      <a href="~/Localidades/Localidades" class="link-card">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Provincias y Localidades</div>
          <div class="notibody">Agregar, editar y eliminar provincias y localidades.</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 contenedor-card-funcion">
    <div class="conteiner-funciones">
      <a href="~/Localidades/InformePublicacionesPorUsuario" class="link-card">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Informe</div>
          <div class="notibody">Publicaciones agrupadas por vendedor.</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 contenedor-card-funcion">
    <div class="conteiner-funciones">
      <a href="~/Localidades/InformePublicacionesPorProvincia" class="link-card">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Informe</div>
          <div class="notibody">Publicaciones agrupadas por provincia.</div>
        </div>
      </a>
    </div>
  </div>
</div>
