@{
  ViewData["Title"] = "Provincias";
}
<link rel="stylesheet" href="~/css/Funciones.css">
@section Scripts {
  <script src="~/js/Provincias.js"></script>
  <script src="~/js/Localidades.js"></script>
  
}


<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 mb-4">
      <div class="row mb-3">
        <div class="col-12">
          <button type="button" class="btn btn-primary" onclick="NuevaProvincia()" data-bs-toggle="modal"
            data-bs-target="#ProvinciaModal">Crear provincia</button>
          <button class="btn btn-secondary" onclick="ListadoDeProvincias()">Recargar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table" id="table1">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody class="table-dark table-striped" id="tbodyProvincias">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 mb-4">
      <div class="row mb-3">
        <div class="col-12">
          <button type="button" class="btn btn-primary" onclick="NuevaLocalidad()" data-bs-toggle="modal"
            data-bs-target="#LocalidadModal">Crear provincia</button>
          <button class="btn btn-secondary" onclick="ListadoDeLocalidades()">Recargar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table" id="table2">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Provincia</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody id="tbodyLocalidades">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="modal" tabindex="-1" id="ProvinciaModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="TituloModalProvincia"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" value="0" id="ProvinciaIDAdd">
        <label for="Nombre">Nombre</label>
        <input type="text" id="ProvinciaNombre" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="LimpiarModals()">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarProvincia()">Guardar Provincia</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="LocalidadModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="TituloModalLocalidad"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" value="0" id="LocalidadID">

        <div class="dropdown">
          <label for="ProvinciaID">SELECCIONE LA PROVINCIA:</label>
          @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-control" })
        </div>

        <label for="LocalidadNombre">Nombre</label>
        <input type="text" id="LocalidadNombre" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="LimpiarModals()">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarLocalidad()">Guardar localidad</button>
      </div>
    </div>
  </div>
</div>