@{
  ViewData["Title"] = "InformePublicaciones";
}
<link rel="stylesheet" href="~/css/MisPublicaciones.css">

<table class="table table-publicacion">
  <thead class="headTabla">
    <tr>
      <th class="text-center">Usuario</th>
      <th class="text-center">Título</th>
      <th class="text-center">Precio</th>
      <th class="text-center">Tipo</th>
      <th class="text-center">Localidad</th>
      <th class="text-center">Barrio</th>
      <th class="text-center">Dirección</th>
    </tr>
  </thead>
  <tbody class="bodyTabla" id="tbody-publicacionesPorUsuario"></tbody>
</table>

@section Scripts {
  <script src="~/js/informePublicaciones.js"></script>
}