<link rel="stylesheet" href="~/css/inmuebleDetalle.css">



<body>
  <input type="hidden" id="UsuarioID" value="@ViewBag.UsuarioID">
  <div class="load-screen" id="loading-screen">
        <div class="loader"></div>
      </div>
  <section class="vistaDetalle">
    <div class="container">
      <div class="row">
        <!-- Columna principal de las imágenes y descripción -->
        <div class="col-md-8 col-sm-12 col-sm-12">
          <div class="container-fluid contenedor-imagenes">
            <div class="image-container">
              <div class="image-control">
                <button><i class='bx bx-chevron-left'></i></button>
                <button><i class='bx bx-chevron-right'></i></button>
              </div>
              <img id="MainImage" src="~/img/LogoConFondo.png">
            </div>
            <div class="miniaturas" id="Miniaturas-container">

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
              <div class="property-details">
                <h4>Descripción:</h4>
                <p id="Descripcion"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Columna secundaria con la información del vendedor -->
        <div class="col-md-4 col-sm-12">
          <div class="info-container">
            <div class="property-info" id="DatosPrincipales">
              <!-- Los datos principales se generarán dinámicamente -->
            </div>
            <div class="info-vendedor" id="DatosVendedor">
              
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="property-details" id="DetallesPublicaciones">
                <!-- Detalles adicionales de la publicación -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>



@section Scripts {
  <script src="~/js/InmuebleDetalle.js"></script>
}