<link rel="stylesheet" href="~/css/inmuebleDetalle.css">



<body>
  <section class="vistaDetalle">
    <div class="container">
      <div class="row">
        <!-- Columna principal de las imágenes y descripción -->
        <div class="col-md-8 col-sm-12 col-sm-12">
          <div class="container-fluid contenedor-imagenes">
            <div class="image-container">
              <div class="image-control">
              <button><i class='bx bx-chevron-left'></i></button>
              <button><i class='bx bx-chevron-right' ></i></button>
              </div>
              <img id="MainImage" src="/img/casa.jpg" alt="Main Image">
            </div>
            <div class="miniaturas" id="Miniaturas-container">
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
              <div class="property-details">
                <h6>Descripción:</h6>
                <p id="Descripcion"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Columna secundaria con la información del vendedor -->
        <div class="col-md-4 col-sm-12">
          <div class="info-container">
            <div class="property-info" id="DatosPrincipales">
              <!-- Los datos principales se generarán dinámicamente -->
            </div>
            <div class="seller-info">
              <h2>Vendedor</h2>
              <p>Nombre: Juan Pérez</p>
              <p>Teléfono: (123) 456-7890</p>
              <p>Email: juan.perez@example.com</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="property-details" id="DetallesPublicaciones">
                <!-- Detalles adicionales de la publicación -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>



@section Scripts {
  <script src="~/js/InmuebleDetalle.js"></script>
}