.conteiner-funciones{
  padding-top: 80px;
  
}

:root{
    --fondo-card: #ffffff;
    --color-title: #1198ff;
    --color-shadow: #000000;
    --text-body: #505050;
  }
  body.dark{
    --fondo-card: #505050;
    --color-title: #1f7fc9;
    --color-shadow: #ffffffff;
    --text-body: #adadad; 
  }


@media screen and (max-width: 768px) {
  .funciones{
    margin-bottom: 15px;
    
  }
}

.card-box {
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  margin: 20px 0px;
  border-radius: 15px;
}
.card-box:hover {
  text-decoration: none;
  color: #f1f1f1;
}
.card-box:hover .icon i {
  font-size: 100px;
  transition: .5s;
}
.card-box .inner {
  padding: 5px 10px 0 10px;
}
.card-box h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  padding: 0;
  text-align: left;
}
.card-box p {
  font-size: 15px;
}
.card-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 72px;
  color: rgba(0, 0, 0, 0.15);
  
}
.card-box .icon i{
  transition: 1s;
}
.card-box .card-box-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
  border-radius: 0 0 15px 15px;
}
.card-box:hover .card-box-footer {
  background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
  background-color: #00c0ef !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-orange {
  background-color: #f39c12 !important;
}
.bg-red {
  background-color: #d9534f !important;
}


.link-card{
  text-decoration: none;
}
.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: 18rem;
    height: 8rem;
    outline: solid 1px var(--color-title);
    background-color: var(--fondo-card);
    border-radius: 10px;
    overflow: hidden;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);

  }
  
  .notification:before {
    position: absolute;
    content: "";
    margin-right: 5px;
    inset: 0.0625rem;
    border-radius: 5px;
    background: var(--fondo-card);
    z-index: 2
  }
  
  .notification:after {
    position: absolute;
    content: "";
    width: 5px;
    margin-right: 5px;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 5px;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .notification:hover:after {
    transform: translateX(0.25rem)
  }
  
  .notititle {
    color: var(--color-title);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notititle {
    transform: translateX(0.15rem)
  }
  
  .notibody {
    color: var(--text-body);
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notibody {
    transform: translateX(0.25rem)
  }
  
  .notiglow,
  .notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, var(--color-shadow), transparent);
    opacity: 0;
    transition: opacity 300ms ease;
  }
  
  .notiglow {
    z-index: 3;
  }
  
  .notiborderglow {
    z-index: 1;
  }
  
  .notification:hover .notiglow {
    opacity: 0.1
  }
  
  .notification:hover .notiborderglow {
    opacity: 0.1
  }
  
  .note {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
  }

.notiicon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* GRÁFICOS */
.graficos{
  background: #ffffff;
  margin: 0 10px 0 10px;
  border-radius: 3px;
}

.tituloGraficos{
  color: #3f3f3f;
  font-weight: 400;
  font-size: 20px;
  padding: 10px 0 10px 0;
  text-align: center;

}


#graficoTorta {
  flex-grow: 1; /* Permite que el gráfico de torta use el espacio restante */
  height: auto; /* Altura automática para el gráfico de torta */
}

#graficoPublicacionesPorOperacion,
#graficoBarras {
  height: 200px; /* Fija la altura de los gráficos de barras y de operación */
  margin-bottom: 1rem; /* Espaciado entre los gráficos */
}


/* PROVINCIAS Y LOCALIDADES */
.contenedor {
    background-color: var(--contenedor-prov-loc);
    width: 100%;
    color: var(--text-color2);
    min-width: 300px;
    height: 100%;
    padding: 15px;
    border-radius: 8px;
}
.tabla{
    border-radius: 15px;
    color: var(--text-color2);
}

.Tbody-class{
    display: block;
    overflow-y: auto;
    max-height: 50vh;
    display: flex;

}

.Tbody-class table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
.Tbody-class table thead {
    background-color: var(--contenedor-prov-loc);
    color: var(--text-color2);
    position: -webkit-sticky; /* Safari... */
    position: sticky;
    top: 0;
    left: 0;
  }

.texto-recortado {
    width: 50px; /* Ajustá este valor según necesites */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.validacion{
  position: absolute;
  bottom: -15px;
  display: none;
}
.error{
  border-color: rgb(206, 2, 2);
}