body{
    padding-top: 80px;  
}
.selectInformes{
    background-color: transparent;
    border: none;
    color: var(--text-color2);
    border-bottom: #0085dd solid 2px;
    height: 40px;
    width: 25%;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
}

.selectInformes option{
    background-color: var(--contenedor-prov-loc);
    color: var(--text-color2);
}


.selectInformes:focus{
    outline: none;
}

@media screen and (max-width: 768px) {
    .selectInformes{
        width: 90%;
    }
}