html {
  min-height: 100vh;
}

body {
  padding-top: 4.5rem;
  max-height: 150vh;
  
}

:root{
  --text-area: #fff;
  --text-placeholder: #5c5c5c;
  --border-color: #0099ff;
  --fondo-dropdown:  #494949;
  --fondo-formulario: linear-gradient(
    335deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(151, 214, 255, 0.661) 100%
  );
}
body.dark{
  --text-area: #535353;
  --text-placeholder: #c9c9c9;
  --border-color: #0065a8;
  --fondo-dropdown: #494949;
  --fondo-formulario: linear-gradient(
    335deg,
    rgb(114, 114, 114) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

footer{
  margin-top: 150px;
}
.step {
  display: none;
}

.step.active {
  display: block;
}





.contenedor {
  background: var(--fondo-formulario);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 5px;
  width: 70vw;
  min-width: 300px;
  margin-top: 80px;
  height: auto; /* Ajusta la altura automáticamente */
  margin: 5px;
  padding: 15px;
  font-size: 18px;
  color: var(--text-color2);
  overflow: hidden; /* Para evitar desbordamientos */
}

.input-form {
  width: 100%;
  border: none; /* Quita todos los bordes */
  border-bottom: 2px solid var(--border-color); /* Agrega solo el borde inferior */
  border-radius: 5px;
  padding: 5px;
  color: var(--text-placeholder);
  margin-top: 10px; /* Ajusta el padding si es necesario */
  outline: none;
  background-color: transparent;
  height: 45px;
}
::placeholder {
  color: var(--text-placeholder); /* Cambia el color del placeholder */
  opacity: 1; /* Asegúrate de que la opacidad esté al 100% */
  font-size: 18px;
  font-weight: 400;
}

.checkbox label{
  font-size: 18px;
  color: var(--text-placeholder);
  font-weight: 400;
}

/* Estilos para la lista desplegable del DropDownList */
.input-form option {
  background-color: var(--fondo-dropdown); /* Color de fondo de las opciones */
  color: white; /* Color del texto de las opciones */
  font-size: 16px;
  font-weight: 200;

}

label:has(p) {
  display: flex;
}
label > p {
  color: red;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.formInmueble {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  max-height: 600px;
  
}

.formInmueble div div div div {
  padding: 3px;
}

@media screen and (max-width: 1366px) {
  .formInmueble div div div div {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .contenedor {
    width: 90vw;
    height: auto;
    margin-top: 15px;
  }

  .botonera {
    position: relative;
    height: auto;
  }

  .botonera .btnPrevNext {
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    margin: 0.5rem;
  }

  .checkbox {
    width: 100%;
    justify-content: flex-start;
  }
  .d-flex {
    flex-direction: column;
  }

  .input-form {
    width: 100%;
  }

  .checkbox {
    width: 100%;
    justify-content: flex-start;
  }

  label[for="Imagen"] {
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
  }
  .list-container {
    display: none !important;
  }
  #preview-container{
    min-height: 450px;
  }
}

.botonera {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  bottom: 0px;
  left: -3px;
  width: 100%;
  height: 25%;
}

.botonera .btnPrevNext {
  width: 7rem;
  height: 3rem;
  border-radius: 15px;
  font-size: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.checkbox * {
  margin: 0.5rem;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  outline: none;
}

textarea.input-form {
  min-height: 20vh;
  max-height: 20vh;
  background-color: var(--text-area);
}
#Contador{
  font-size: 13px;
  margin-top: -15px;
  margin-right: 10px;
  justify-content: end;
}

input[type="file"] {
  display: none;
}

label[for="Imagen"] {
  cursor: pointer;
  font-size: 3rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-color);
  color: var(--text-color);
  margin-right: 0.8rem;
  transition: text-shadow 0.2s, box-shadow 0.2s;
}

label[for="Imagen"]:hover {
  box-shadow: 0 0 20px var(--text-color);
  text-shadow: 0 0 10px var(--text-color);
}

.list-container {
  height: 50vh;
  width: auto;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  background-color: rgb(197, 196, 194);
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-container img {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  opacity: 0.5;
  object-fit: cover;
  transition: opacity 0.2s, border 0.2s;
}

.list-container img:hover,
.list-container img:focus {
  opacity: 1;
  outline: 2px solid var(--nav-color);
}

img.active {
  opacity: 1;
}

#preview-container {
  background-color: rgb(197, 196, 194);
  border-radius: 5px;
  max-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vh;
}

#preview-container img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  object-fit: cover;
}

#image-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 50%;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #333;
}


/* switch Moneda */

/* From Uiverse.io by Galahhad */ 
.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: rgb(0, 218, 80);
  --switch-checked-bg: rgb(0, 218, 80);
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all .2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked+.slider {
  background: var(--switch-checked-bg);
}

.switch input:checked+.slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked+.slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked+.slider::before {
  left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
}

.switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}

.divisor-switchcase{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.miniatura {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ccc;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.miniatura:active {
  transform: scale(1.1); /* Para dar la sensación de que está seleccionada */
}

.miniatura[draggable="true"] {
  cursor: grab;
}

.miniatura:dragging {
  opacity: 0.5;
}

.miniatura:hover {
  border-color: #007bff;
}

#image-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 24px;
  color: #000;
}