/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* ===== Colours ===== */
:root {
  --body-color: linear-gradient(
    335deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(151, 214, 255, 0.661) 100%
  );
  --nav-color: #0099ff;
  --nav-color2: #0065a8;
  --side-nav: #010718;
  --text-color: #e6e0e0;
  --text-color2: #3f3f3f;
  --search-bar: #f2f2f2;
  --search-text: #010718;
  --container-color: #eae6e5;
  --overlay-login: #0000003b;
  --body-filter: #afafaf2c;
  --scrollbar-color: #009bff;
  --text-info: #414141;
  --bg-info: #d7d7d7;
  --container-color: #ffffff;
}
body {
  background: var(--body-color);
}
body.dark {
  --body-color: linear-gradient(
    335deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  --nav-color: #242526;
  --nav-color2: #161616;
  --side-nav: #242526;
  --text-color: #7a7a7a;
  --text-color2: #ccc;
  --search-bar: #242526;
  --container-color: #5a5a5a;
  --overlay-login: #0000008a;
  --body-filter: #00000062;
  --scrollbar-color: #0065a8;
  --text-info: #e1e1e1;
  --bg-info: #474747;
  --container-color: #cfcfcf;
}
nav {
  top: 0;
  left: 0;
  position: fixed;
  height: 70px;
  width: 100%;
  background: var(--nav-color);
  z-index: 1000;
  bottom: 120px;
}
body.dark nav {
  border: 1px solid #393838;
}
nav .nav-bar {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  left: 0;
  align-items: center;
  justify-content: space-around;
}

.menu {
  width: 100%;
}
nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
.link-logo {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-shadow: 0 0 2px black;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.link-logo:hover {
  color: white;
}
.logo {
  height: 3rem;
  width: auto;
  filter: drop-shadow(0 0 2px black);
}
.menu .logo-toggle {
  display: none;
}
.nav-bar .nav-links {
  display: flex;
  align-items: center;
  margin-bottom: 0rem;
}
.nav-bar .links-primary {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}
.nav-link {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
}
.nav-links li a:hover,
.nav-link li a:focus .dark-light i:hover,
.searchToggle i:hover {
  color: var(--text-color);
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.4s ease;
}
.nav-links li:hover a::before {
  opacity: 1;
}
.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle:active {
  color: rgb(255, 255, 255); /* O el color que prefieras */
  background-color: transparent; /* Evita cualquier cambio de fondo */
  box-shadow: none; /* Elimina el borde azul de enfoque */
  outline: none; /* Elimina el borde de enfoque predeterminado */
  border-radius: 5px;
}

/* Estilos para el menú del dropdown */
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.85); /* Color de fondo del menú del dropdown */
  border: 1px solid var(--nav-color); /* Agrega un borde al menú del dropdown */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra al menú del dropdown */
  padding: 10px 0; /* Añade espacio interno al menú del dropdown */
  font-size: 16px;
}

.dropdown-item {
  color: var(--nav-color); /* Color del texto de los elementos del menú del dropdown */
  padding: 8px 18px; /* Añade algo de espacio interno a los elementos del menú del dropdown */
}
.dropdown-form {
  padding: 8px 18px;
}

.form-item {
  color: var(--nav-color);
}

.form-item:hover,
.form-item:focus {
  background-color: transparent; /* Cambia el color de fondo al pasar el mouse o enfocar un elemento del menú del dropdown */
  color: var(--text-color2); /* Cambia el color del texto al pasar el mouse o enfocar un elemento del menú del dropdown */
  border-radius: 3px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: transparent; /* Cambia el color de fondo al pasar el mouse o enfocar un elemento del menú del dropdown */
  color: var(--text-color2); /* Cambia el color del texto al pasar el mouse o enfocar un elemento del menú del dropdown */
  border-radius: 3px;
}
.dropdown-form:hover,
.dropdown-form:focus {
  background-color: transparent; /* Cambia el color de fondo al pasar el mouse o enfocar un elemento del menú del dropdown */
  color: var(--text-color2);
  border-radius: 3px;
}

.sidebar-perfil {
  display: none;
}

.nav-bar .darkLight-searchBox {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.dark-light i,
.searchToggle i {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}
.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}
.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}
.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}
.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}
.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}
/* .searchBox{
  position: relative;
  display: none;
} */
.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}
.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}
.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}
body.dark .search-field input {
  color: var(--text-color);
}
.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
body.dark .search-field i {
  color: var(--text-color);
}
@media (max-width: 950px) {
  .dropdown-form:hover,
  .dropdown-form:focus {
    background-color: transparent; /* Cambia el color de fondo al pasar el mouse o enfocar un elemento del menú del dropdown */
    color: var(--text-color);
    border-radius: 3px;
  }
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  .sidebar-perfil {
    display: block;
  }
  .navbar-perfil {
    display: none;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }
  nav.active .menu {
    left: -0%;
  }
  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.4s ease;
  }
  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }
  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }
  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* FOOTER */
footer {
  margin-top: 200px;
  z-index: 1000;
  position: relative;
  background: var(--nav-color);
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 120px;
  height: 1px;
  width: 100%;
  background: #afafb6;
}
footer .content {
  margin: auto;
  padding: 30px 80px 40px 80px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  height: 70px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border: solid 1px #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 42px;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.2s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #e1306c;
}
.top .media-icons a:nth-child(2):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #25d366;
}
.top .media-icons a:nth-child(3):hover {
  color: #25d366;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #ff0000;
}
.top .media-icons a:nth-child(4):hover {
  color: #ff0000;
  background: #fff;
}
footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #ffffffff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 40px;
  background: #ffffffff;
}
.content .link-boxes .box li {
  margin: 3px 0;
  list-style: none;
}
.content .link-boxes .box li p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.4s ease;
}

footer .bottom-details {
  width: 100%;
  background: var(--nav-color2);
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 50%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons p {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text p {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}
