body {
    align-items: center;
    justify-content: center;
    padding-top: 5rem;

    width: 100vw;
    background-color: #002E55;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23003875' stroke-width='1.5'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23003875'%3E%3Ccircle cx='769' cy='229' r='9'/%3E%3Ccircle cx='539' cy='269' r='9'/%3E%3Ccircle cx='603' cy='493' r='9'/%3E%3Ccircle cx='731' cy='737' r='9'/%3E%3Ccircle cx='520' cy='660' r='9'/%3E%3Ccircle cx='309' cy='538' r='9'/%3E%3Ccircle cx='295' cy='764' r='9'/%3E%3Ccircle cx='40' cy='599' r='9'/%3E%3Ccircle cx='102' cy='382' r='9'/%3E%3Ccircle cx='127' cy='80' r='9'/%3E%3Ccircle cx='370' cy='105' r='9'/%3E%3Ccircle cx='578' cy='42' r='9'/%3E%3Ccircle cx='237' cy='261' r='9'/%3E%3Ccircle cx='390' cy='382' r='9'/%3E%3C/g%3E%3C/svg%3E");  
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-login);
    z-index: -1;
    background-position: center;
    background-size: cover;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
  }
  
  

  .container{
    position: relative;
    top: 50px;
    margin-bottom: 100px;
    max-width: 1050px;
    width: 100%;
    background: var(--container-color);
    border-radius: 12px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
  }
  .content .image-box{
    max-width: 55%;
  }
  .content .image-box img{
    width: 100%;
    border-radius: 12px;
  }
  .content .topic{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color2);
  }
  .content form{
    width: 40%;
    margin-right: 30px;
  }
  .content .input-box{
    height: 50px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
  }
  .content .input-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: var(--container-color);
    border: 2px solid gray ;
    transition: all 0.3s ease;
  }
  .content .input-box input:focus{
    border-color: var(--nav-color);
    background-color: var(--container-color);
  }
  .content .input-box label{
    position: absolute;
    left: 18px;
    top: 50%;
    color: var(--text-color2);
    background-color: transparent;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .content .input-box input:focus ~ label,
  .content .input-box input:valid ~ label,
  .content .input-box input:not(:placeholder-shown) + label,
  .content .input-box input:-webkit-autofill + label{
    top: 0;
    left: 12px;
    display: 14px;
    color: var(--nav-color);
    background: var(--container-color);
    border-radius: 10px;
    padding: 2px;
  }
  .content .input-box input:-webkit-autofill,
  .content .input-box input:-webkit-autofill:hover,
  .content .input-box input:-webkit-autofill:focus,
  .content .input-box input:-webkit-autofill:active {
    font-family: "Poppins", sans-serif !important;  /* Hereda la fuente definida */
    font-size: inherit !important;    /* Hereda el tamaño de fuente */
    font-weight: inherit !important;  /* Hereda el peso de la fuente */
    font-style: inherit !important;   /* Hereda el estilo (normal) */
    color: inherit !important;        /* Hereda el color del texto */
    
  }
  .content .message-box{
    min-height: 100px;
    position: relative;
  }


  .content .message-box label{
    position: absolute;
    font-size: 16px;
    color: #636c72;
    right: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .content .input-box input[type="submit"]{
    color: #fff;
    background: var(--nav-color);
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  .content .input-box input[type="submit"]:hover{
    background-color: var(--nav-color2);
  }

  .content .input-box span{
    position: absolute;
    color: red;
    font-size: 14px;
    width: 100%;
    top: 50px;
    z-index: 1;
  }

  .error {
    border-color: rgb(206, 2, 2) !important;
  }
  
  .valid {
    border-color: rgb(0, 128, 0) !important; /* Color verde */
  }
  @media (max-width:1000px) {
    .content .image-box{
      max-width: 70%;
    }
    .content{
      padding: 10px 0;
    }
  }
  @media (max-width:900px) {
    .content .image-box{
      display: none;
    }
    .content form{
      width: 100%;
      margin-left: 30px;
    }
  }