body{
    padding-top: 80px;
}

section{
    width: 100%;
    height: 100%;
}

:root{
    --tr-odd: #d7d7d7;
    --tr-even: #e9e9e9;
}

body.dark{
    --tr-odd: #515050;
    --tr-even: #595959;
}
/* inicio search */
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    background-color: #f4f2f2;
    border: none;
    color: #494949;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 45vw;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
    margin-bottom: 5px;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    font-size: 1.2rem;
    color: #777777;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
    margin-bottom: 5px;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

  /* fin search */

.table-publicacion{
    width: 100%;
    background-color: var(--container-color);
    border-radius: 15px;
    padding: 15px;
    background-color: transparent;
}

.table-publicacion tr:nth-child(even){
    color: var(--text-color2);
    background-color: var(--tr-even);
}

.table-publicacion tr:nth-child(odd){
    color: var(--text-color2);
    background-color: var(--tr-odd);
}
.table-publicacion thead tr th{
    color: var(--text-color2);
    background-color: var(--tr-even);
}
.table-publicacion thead tr th:first-child{
    border-radius: 15px 0 0 0;
}
.table-publicacion thead tr th:last-child{
    border-radius: 0 15px 0 0;
}

.table-publicacion tr{
    border-bottom: solid transparent;
}

.table-publicacion tr:last-child td:first-child{
    border-radius: 0 0 0 15px;
}

.table-publicacion tr:last-child td:last-child{
    border-radius: 0 0 15px 0;
}
td{
    text-align: center;
}
td p{
    text-overflow: ellipsis;
    display: -webkit-box; /* Necesario para aplicar -webkit-line-clamp */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limita a 4 líneas */
    overflow: hidden;
}

.contenedor-panel{
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.contenedor-panel img{
    width: 350px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
}

.contenedor-panel h3,
.contenedor-panel p{    
    width: 100%;
    color: var(--text-color2);
    padding: 0 20px;
    text-overflow: ellipsis;
    
}

.contenedor-panel p{
    display: -webkit-box; /* Necesario para aplicar -webkit-line-clamp */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Limita a 4 líneas */
    overflow: hidden;
}

.botonera{
    gap: 3%;
    margin: 20px 0;
}
.boton{
    color: white;
    opacity: 0.8;
}
.boton:hover{
    opacity: 1;
    color: white;
}

.editar{
    background-color: #00c763;
}
.suspender{
    background-color: rgb(250, 226, 6);
}
.eliminar{
    background-color: rgb(212, 7, 7);
}