html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 80vh;
  width: 90vw;
}

.form-control{
  width: 100%;
  height: 30px;
  border-radius: 60px;
  border: solid 2px rgb(49, 119, 151);
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.705);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -60px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -22px inset;
}

.form-control:focus .form-label{
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px ;
}
.form-control:focus, .form-check-input:focus {
  box-shadow: rgba(23, 23, 211, 0.25) 0px 30px 60px -60px inset, rgba(10, 68, 116, 0.3) 0px 18px 36px -22px inset, rgb(49, 119, 151) 0px 0px 5px 2px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Ancho del scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 95%;
}

/* Fondo del track */
::-webkit-scrollbar-track {
  background: #ebeaeafd;
  border-radius: 10px;

}

/* Thumb del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #abacad;
  border-radius: 10px;
  border: 10px solid #ffffff00;

}

/* Thumb al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #6e6f70;
} 