html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



main {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
}



/* ESTILOS CONTENEDOR TITULO */ 
.tituloContenedor{
  width: 100%;
  justify-content: center;
  height: 80px;
  margin-top: 15px;
  margin-bottom: 25px;
}
/* ESTILOS TITULO */ 
.titulo {
  color: var(--text-color2);
  font-size: 45px;
  font-weight: 400;
  text-align: start;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ESTILOS HR TITULO */ 
.tituloHr{
  color: #0099ff;
  width: 100%;
  height: 1px !important;
  opacity: 1;
  margin: 0;
}
@media screen and (max-width: 768px) {
  /* Cambiar el tamaño de la fuente del título */
  .titulo {
    font-size: 30px; /* Ajusta este valor según lo que necesites */
  }
  .tituloHr{
    margin-top: -10px;
  }

  /* Si necesitas ajustar el contenedor del título también */
  .tituloContenedor {
    height: 60px; /* Ajusta la altura si es necesario */
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

/* FIN ESTILOS TITULO */ 




.form-control{
  width: 100%;
  height: 40px;
  border: none;
  color: var(--text-color2);
  border-bottom: solid 2px #0099ff;
  margin-top: 5px;
  background-color: transparent;
}

.form-control:focus, .form-control:active {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}


html {
  position: relative;
  min-height: 100%;
}


/* Ancho del scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 95%;
}

/* Fondo del track */
::-webkit-scrollbar-track {
  background: #ebeaeafd;
  border-radius: 10px;

}

/* Thumb del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--nav-color);
  border-radius: 10px;
  border: 10px solid #ffffff00;

}

/* Thumb al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--nav-color2);
} 


.ui-checkbox {
  --primary-color: #0099ff;
  --secondary-color: #fff;
  --primary-hover-color: #0065a8;
  /* checkbox */
  --checkbox-diameter: 17px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.05;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  box-sizing: border-box;
}

.ui-checkbox {
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  align-items: center;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  transition: none;
  box-shadow: none;
  opacity: 1;
}
.load-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.327);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 5px solid var(--nav-color);
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: rot5 1s infinite;
}

@keyframes rot5 {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
    border-top-color: var(--nav-color2);
    border-bottom-color: rgb(244, 236, 234);
    border-right-color: transparent;
    border-left-color: transparent;
  }

  100% {
    transform: rotate(360deg);
  }
}
.notifications-container {
  width: 300px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  bottom: 5%;
  right: 15px;
  z-index: 9900;

}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.success {
  padding: 1rem;
  border-radius: 0.375rem;
  backdrop-filter: blur(15px);
  background-color: rgba(239, 255, 206, 0.531);
}

.denied {
  padding: 1rem;
  border-radius: 0.375rem;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 216, 206, 0.531);
}

.alert{
  padding: 1rem;
  border-radius: 0.375rem;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 242, 206, 0.531);
}

.succes-svg {
  color: rgb(74 222 128);
  font-size: 1.5rem;
  position: absolute;
}

.alert-svg{
  color: rgb(231, 197, 0);
  font-size: 1.5rem;
  position: absolute;
}

.denied-svg {
  color: rgb(247, 84, 84);
  font-size: 1.5rem;
  position: absolute;
}

.success-prompt-wrap {
  margin-left: 0.55rem;
}

.success-prompt-heading {
  font-weight: bold;
  margin-left: 1.2rem;
  color: rgb(22 101 52);
}

.success-prompt-prompt {
  margin-top: 0.5rem;
  color: rgb(21 128 61);
}

.success-button-container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.success-button-main {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ECFDF5;
  color: rgb(22 101 52);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none;
  display: none;
}

.success-button-main:hover {
  background-color: #D1FAE5;
}

.success-button-secondary {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.75rem;
  background-color: #ECFDF5;
  color: #065F46;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
  display: none;
}

.enter-alert{
  display: flex;
  animation: enter-alert 0.3s ease-in-out;
}

.exit-alert{
  animation: exit-alert 0.3s ease-in-out;
}

@keyframes enter-alert {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes exit-alert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* estilos tablas */

.Tbody-class{
  overflow-y: auto;
  height: auto;
  max-height: 65vh;
  padding: 0;
  border-radius: 15px;
}

.Tbody-class table {
  border-collapse: separate;
  border-spacing: 0;
}

.Tbody-class table thead {
  background-color: var(--container-color);
  position: -webkit-sticky; /* Safari... */
  position: sticky;
  top: 0;
  left: 0;
}

.Tbody-class  tr:last-child td:first-child{
  border-radius: 0 0 0 15px;
}

.Tbody-class  tr:last-child td:last-child{
  border-radius: 0 0 15px 0;
}

.ancho-informe{
  width: 100%;
  max-height: 75vh;
}