@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css">


<div class="contenedor-filtros-principal d-flex justify-content-center align-item-center ">
    <div>
        <label for="provincia">Provincia</label>
        <select name="provincia" id=""></select>
    </div>
    <div>
        <label for="ciudad">Ciudad</label>
        <select name="ciudad" id=""></select>
    </div>
    <div>
        <label for="operacion">Operacion</label>
        <select name="operacion" id=""></select>
    </div>
</div>

<div class="catalogo">
    <div class="filtros">
        <ul>
            <li class="nav-item">
                <p class="d-inline-flex gap-1">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Tipo de inmueble
                    </a>
                <div class="collapse" id="collapseExample">
                    <div class="menu-desplegable">
                        <div>
                            <input type="radio">Casas
                        </div>
                        <div>
                            <input type="radio">Casas
                        </div>
                        <div>
                            <input type="radio">Casas
                        </div>
                        <div>
                            <input type="radio">Casas
                        </div>
                        <div>
                            <input type="radio">Casas
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row" id="publicaciones">

        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Precio</p>
                    <p>Ubicacion</p>
                    <div>Operacion</div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Precio</p>
                    <p>Ubicacion</p>
                    <div>Operacion</div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Precio</p>
                    <p>Ubicacion</p>
                    <div>Operacion</div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Precio</p>
                    <p>Ubicacion</p>
                    <div>Operacion</div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Precio</p>
                    <p>Ubicacion</p>
                    <div>Operacion</div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>




    </div>
</div>


@section Scripts {
    <script src="~/js/hom.js"></script>
}
