@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css">


<div class="d-flex justify-content-center align-item-center">
    <div>
        <label for="provincia">Provincia</label>
        <select name="provincia" id=""></select>
    </div>
    <div>
        <label for="ciudad">Ciudad</label>
        <select name="ciudad" id=""></select>
    </div>
    <div>
        <label for="operacion">Operacion</label>
        <select name="operacion" id=""></select>
    </div>
</div>

<div class="catalogo">
    <div class="filtros">
        <ul>
            <li><a href="">asda</a></li>
            <li><a href="">dsaasd</a></li>
            <li><a href="">dasd</a></li>
            <li><a href="">asdasd</a></li>
            <li><a href="">dasda</a></li>
        </ul>
    </div>
<div class="row justify-content-center align-item-center" id="publicaciones">
    <div class="card col-md-2 col-sm-6">
        <img src="https://via.placeholder.com/150" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Precio</p>
            <p>Ubicacion</p>
            <div class="">Operacion</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card col-md-2 col-sm-6">
        <img src="https://via.placeholder.com/150" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Precio</p>
            <p>Ubicacion</p>
            <div class="">Operacion</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card col-md-2 col-sm-6">
        <img src="https://via.placeholder.com/150" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Precio</p>
            <p>Ubicacion</p>
            <div class="">Operacion</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card col-md-2 col-sm-6">
        <img src="https://via.placeholder.com/150" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Precio</p>
            <p>Ubicacion</p>
            <div class="">Operacion</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

     <div class="card col-md-2 col-sm-6">
        <img src="https://via.placeholder.com/150" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Precio</p>
            <p>Ubicacion</p>
            <div class="">Operacion</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>
</div>

@section Scripts {
    <script src="~/js/hom.js"></script>
}
