@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css">



<div class="catalogo">
    <div class="filtros">
        <ul>
            <li class="nav-item">
                    <a class="" data-bs-toggle="collapse" href="#collapse1" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Tipo de inmueble
                    </a>
                    <span></span>
                <div class="collapse" id="collapse1">
                    <div class="menu-desplegable">
                        <div>
                            <input type="radio">Casas
                        </div>
                        <div>
                            <input type="radio">Casas
                        </div>
                        <div>
                            <input type="radio">Casas
                        </div>
                        <div>
                            <input type="radio">Casas
                        </div>
                        <div>
                            <input type="radio">Casas
                        </div>
                        
                    </div>
                </div>
                
            </li>
            <li class="nav-item">
                    <a class="" data-bs-toggle="collapse" href="#collapse2" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Rango de precio
                    </a>
                    <span></span>
                    <div class="collapse" id="collapse2">
                    <div class="menu-desplegable">
                        <input type="range">
                    </div>
                </div>
            </li>

              <li class="nav-item">
                    <a class="" data-bs-toggle="collapse" href="#collapse3" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Provincia
                    </a>
                    <span></span>
                    <div class="collapse" id="collapse3">
                    <div class="menu-desplegable">
                        <input type="range">
                    </div>
                </div>
            </li>

            <li class="nav-item">
                    <a class="" data-bs-toggle="collapse" href="#collapse4" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Localidad
                    </a>
                    <span></span>
                    <div class="collapse" id="collapse4">
                    <div class="menu-desplegable">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </li>

            <li class="nav-item">
                    <a class="" data-bs-toggle="collapse" href="#collapse5" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Operacion
                    </a>
                    <span></span>
                    <div class="collapse" id="collapse5">
                    <div class="menu-desplegable">
                        <Select class="form-control">
                            <option value="0">Seleccione</option>
                            <option value="1">Alquiler</option>
                            <option value="2">Alquiler temporal</option>
                            <option value="3">Compra</option>
                        </Select>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    
    <div class="row" id="publicaciones">

    </div>
</div>


@section Scripts {
    <script src="~/js/home.js"></script>
}
