<link rel="stylesheet" href="~/css/perfil.css">

<input type="hidden" id="UsuarioID" value="@ViewBag.UsuarioID">

<div class="container py-4 contenedor">
  <h1 class="display-4  text-center font-weight-bold mb-4">Administracion de Perfil</h1>
  <hr>
  <form class=" p-4  shadow-lg  formulario">
    <div class="row">
      <div class="form-group col-md-6 mb-4">
        <label for="nombre" class="text-dark">Nombre Completo</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          class="form-control"
          placeholder="Tu nombre completo"
        />
      </div>
      <div class="form-group col-md-6 mb-4">
        <label for="phone" class="text-dark">Numero de telefono</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          class="form-control"
          placeholder="Tu numero de telefono"
        />
      </div>
      <div class="form-group col-md-4 mb-4">
        <label for="instagram" class="text-dark">Instagram</label>
        <input
          type="text"
          id="instagram"
          name="instagram"
          class="form-control"
          placeholder="Usuario de Instagram"
        />
      </div>
      <div class="form-group col-md-4 mb-4">
        <label for="facebook" class="text-dark">Facebook</label>
        <input
          type="text"
          id="facebook"
          name="facebook"
          class="form-control"
          placeholder="Tu link de Facebook"
        />
      </div>
      <div class="form-group col-md-4 mb-4">
        <label for="whatsapp" class="text-dark">WhatsApp</label>
        <input
          type="text"
          id="whatsapp"
          name="whatsapp"
          class="form-control"
          placeholder="Número de WhatsApp"
        />
      </div>
      
    </div>
    <button type="submit" class="btn btn-primary btn-lg w-100 mt-3" onclick="ActualizarInformacion()">Save Changes</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
<script src="~/js/Perfil.js"></script>