@{
  ViewData["Title"] = "Administración";
}
<link rel="stylesheet" href="~/css/Funciones.css">


<div class="row container-xxl conteiner-funciones">
  <div class="col-12">
    <div class="tituloContenedor">
      <h1 class="titulo"><i class="fa-solid fa-user-tie"></i> Administración</h1>
      <hr class="tituloHr">
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-blue">
        <div class="inner">
          <h3>Prov. y Loc.</h3>
          <p>Administrar provincias y localidades.</p>
        </div>
        <div class="icon">
          <i class="fa fa-city" aria-hidden="true"></i>
        </div>
        <a href="~/Administracion/Localidades" class="card-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-green">
        <div class="inner">
          <h3>Informes</h3>
          <p>Informe publicaciones por usuario, fecha y lugar.</p>
        </div>
        <div class="icon">
          <i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <a href="~/Administracion/InformePublicaciones" class="card-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-orange">
        <div class="inner">
          <h3>Gráficos</h3>
          <p>Información representada en gráficos.</p>
        </div>
        <div class="icon">
          <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
        </div>
        <a href="~/Administracion/InformesGraficos" class="card-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-red">
        <div class="inner">
          <h3>Adm. publicaciones</h3>
          <p>Observar, habilitar y deshabilitar publicaciones.</p>
        </div>
        <div class="icon">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <a href="#" class="card-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
</div>
