@{
  ViewData["Title"] = "Administración";
}
<link rel="stylesheet" href="~/css/Funciones.css">


<div class="row container-xxl conteiner-funciones">
  <div class="col-12">
    <div class="tituloContenedor">
      <h1 class="titulo"><i class="fa-solid fa-house-chimney-medical"></i> Administración</h1>
      <hr class="tituloHr">
    </div>
  </div>
</div>

<div class="row contenedorFuncionesAdmin">

  <div class="col-md-3 col-sm-12 funciones">
    <div>
      <a href="~/Administracion/Localidades" class="link-card">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Provincias y Localidades</div>
          <div class="notibody">Agregar, editar y eliminar provincias y localidades.</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 funciones">
    <div>
      <a href="~/Administracion/InformePublicacionesPorUsuario" class="link-card">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Informe por vendedor</div>
          <div class="notibody">Publicaciones agrupadas por vendedor.</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 funciones">
    <div>
      <a href="~/Administracion/InformePublicacionesPorProvincia" class="link-card">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Informe por provincia</div>
          <div class="notibody">Publicaciones agrupadas por provincia y localidad.</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 funciones">
    <div>
      <a href="~/Administracion/InformePublicacionesPorFecha" class="link-card">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Informe por fecha</div>
          <div class="notibody">Publicaciones agrupadas por fecha, usuario y ubicación.</div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 funciones">
    <div>
      <a href="~/Administracion/InformesGraficos" class="link-card">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">Informes gráficos</div>
          <div class="notibody">Diversos gráficos que presentan información ya calculada.</div>
        </div>
      </a>
    </div>
  </div>
</div>



