@{
  ViewData["Title"] = "InformePublicacionesPorProvincia";
}
<link rel="stylesheet" href="~/css/MisPublicaciones.css">

<table class="table table-publicacion">
  <thead class="headTabla">
    <tr>
      <th class="text-center">PROVINCIA</th>
      <th class="text-center">LOCALIDAD</th>
      <th class="text-center">USUARIO</th>
      <th class="text-center">TÍTULO</th>
      <th class="text-center">PRECIO</th>
      <th class="text-center">TIPO</th>
      <th class="text-center">BARRIO</th>
      <th class="text-center">DIRECCIÓN</th>
    </tr>
  </thead>
  <tbody class="bodyTabla" id="tbody-publicacionesPorProvincia"></tbody>
</table>

@section Scripts {
  <script src="~/js/informePublicacionesPorProvincia.js"></script>
}