@{
  ViewData["Title"] = "InformePublicacionesPorProvincia";
}
<link rel="stylesheet" href="~/css/MisPublicaciones.css">


<div class="row container-xxl conteiner-funciones">
  <div class="col-12">
    <div class="tituloContenedor">
      <h1 class="titulo"><i class="fa-solid fa-map-location-dot"></i> Informe por provincia</h1>
      <hr class="tituloHr">
    </div>
    <button onclick="Imprimir()" class="btn btn-info mb-2"><i class="fa-solid fa-download"></i></button>
  </div>
</div>
<div class="Tbody-class ancho-informe">
<table id="TablaPorProvincia" class="table table-dark table-hover table-striped table-bordered">
  <thead>
    <tr class="text-center">
      <th>PROVINCIA</th>
      <th>LOCALIDAD</th>
      <th>TÍTULO</th>
      <th>PRECIO</th>
      <th>TIPO</th>
      <th>BARRIO</th>
      <th>DIRECCIÓN</th>
    </tr>
  </thead>
  <tbody class="" id="tbody-publicacionesPorProvincia"></tbody>
</table>
</div>

@section Scripts {
  <script src="~/js/informePublicacionesPorProvincia.js"></script>
}