<link rel="stylesheet" href="~/css/Funciones.css">

<div class="row container-xxl conteiner-funciones">
  <div class="col-12">
    <div class="tituloContenedor">
      <h1 class="titulo"><i class="fa-solid fa-chart-line"></i> Informes gráficos</h1>
      <hr class="tituloHr">
    </div>
  </div>
</div>


<div class="row">
  <div class="card-body col-md-5 col-sm-12 graficos mt-4" style="max-height: 600px;">
    <div>
      <h3 class="tituloGraficos">PUBLICACIONES POR PROVINCIA</h3>
    </div>
    <canvas id="graficoTorta" width="200" height="200"></canvas>
  </div>
  <div class="card-body col-md-3 col-sm-12 graficos mt-4">
    <div style="max-height: 450px;">
      <div>
        <h3 class="tituloGraficos">PUBLICACIONES POR TIPO OPERACIÓN</h3>
      </div>
      <canvas id="graficoPublicacionesPorOperacion" width="200" height="200"></canvas>
    </div>
    <div class="p-0">
      <div class="card-body graficos">
        <h5 class="tituloGraficos">Total de Inmuebles Activos</h5>
        <p class="tituloGraficos" id="inmueblesActivos">Cargando...</p>
      </div>
    </div>
  </div>
  <div class="card-body col-md-3 col-sm-12 graficos mt-4">
    <div style="max-height: 450px;">
      <div>
        <h3 class="tituloGraficos">TOP 10 PROVINCIAS CON MÁS ACTIVIDAD</h3>
      </div>
      <canvas id="graficoBarras" width="200" height="200"></canvas>
    </div>
    <div class="p-0">
      <div class="card-body graficos">
        <h3 class="tituloGraficos">Total usuarios registrados</h3>
        <p class="tituloGraficos" id="usuariosRegistrados">Cargando...</p>
      </div>
    </div>
  </div>
</div>


@section Scripts {
  <script src="~/js/GraficosAdmin.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
}