@{
  ViewData["Title"] = "InformePublicacionesPorUsuario";
}
<link rel="stylesheet" href="~/css/MisPublicaciones.css">


<div class="row container-xxl conteiner-funciones">
  <div class="col-12">
    <div class="tituloContenedor">
      <h1 class="titulo"><i class="fa-solid fa-comment-dollar"></i> Informe por vendedor</h1>
      <hr class="tituloHr">
    </div>
  </div>
</div>
<table class="table table-dark table-hover table-striped table-bordered">
  <thead class="headTabla">
    <tr>
      <th class="text-center">USUARIO</th>
      <th class="text-center">TÍTULO</th>
      <th class="text-center">PRECIO</th>
      <th class="text-center">TIPO</th>
      <th class="text-center">LOCALIDAD</th>
      <th class="text-center">BARRIO</th>
      <th class="text-center">DIRECCIÓN</th>
    </tr>
  </thead>
  <tbody class="bodyTabla" id="tbody-publicacionesPorUsuario"></tbody>
</table>

@section Scripts {
  <script src="~/js/informePublicacionesPorUsuario.js"></script>
}