@{
  ViewData["Title"] = "InformePublicacionesPorFecha";
}
<link rel="stylesheet" href="~/css/MisPublicaciones.css">


<div class="row container-xxl conteiner-funciones">
  <div class="col-12">
    <div class="tituloContenedor">
      <h1 class="titulo"><i class="fa-regular fa-calendar"></i> Informe por fecha de publicación</h1>
      <hr class="tituloHr">
    </div>
    <button onclick="Imprimir()" class="btn btn-info mb-2"><i class="fa-solid fa-download"></i></button>
  </div>
</div>
<div class="Tbody-class ancho-informe">
  <table id="TablaPorFecha" class="table table-dark table-hover table-striped table-bordered">
    <thead class="headTabla">
      <tr class="text-center">
        <th>FECHA</th>
        <th>USUARIO</th>
        <th>LOCALIDAD</th>
        <th>TÍTULO</th>
        <th>PRECIO</th>
        <th>TIPO</th>
        <th>DIRECCIÓN</th>
      </tr>
    </thead>
    <tbody class="bodyTabla" id="tbody-publicacionesPorFecha"></tbody>
  </table>
</div>
@section Scripts {
  <script src="~/js/informePublicacionesPorFecha.js"></script>
}