<link rel="stylesheet" href="~/css/Perfil.css" />


<h3>Tus publicaciones</h3>

<section>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">titulo</th>
      <th scope="col">Precio</th>
      <th scope="col">Localidad</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td></td>
    </tr>
  </tbody>
</table>
</section>